* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/static/Raleway-Regular.ttf);
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #000;
  line-height: 1.4em;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
  overflow: hidden;
}

::-moz-placeholder {
  font-size: 18px;
}

:-ms-input-placeholder {
  font-size: 18px;
}

::placeholder {
  font-size: 18px;
}

button {
  cursor: pointer;
}

button:active {
  outline: none;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px 0px 10px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-right: 10px;
  gap: 10px;
  z-index: 3;
  position: relative;
}
.header__list {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0px 0px 0px 20px;
}
.header__list li a {
  transition: all 0.3s ease-out;
}
.header__list li a:hover {
  border-bottom: 2px solid rgb(231, 1, 1);
  color: rgb(231, 1, 1);
}
.header__link {
  font-size: 17px;
}
.header__phone {
  display: flex;
  text-align: center;
  gap: 10px;
  font-size: 16px;
  z-index: 2;
}
.header__basket {
  z-index: 2;
}
.header__basket a {
  padding-right: 10px;
}
.header__burger {
  display: none;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0px 0px 4px grey;
}

@media (max-width: 865px) {
  .header__phone img {
    width: 20px;
    padding-bottom: 2px;
  }
  .header__phone p {
    display: none;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
    border-bottom: 1px solid black;
  }
  .header__logo {
    display: flex;
    padding: 0px 0px 0px 170px;
    gap: 5px;
    font-size: 16px;
  }
  .header__logo img {
    width: 40px;
  }
  .header__block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
  .header__burger {
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 10px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 19px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    transition: all 0.4s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }
  .header__basket img {
    width: 20px;
    padding-top: 7px;
  }
  .header__phone img {
    width: 18px;
  }
  .header__phone p {
    display: none;
  }
}
.active-menu {
  font-weight: 400;
  color: rgb(231, 1, 1);
  border-bottom: 2px solid rgb(231, 1, 1);
}

@media (max-width: 650px) {
  .header__logo {
    padding: 0px 0px 0px 120px;
  }
}
@media (max-width: 485px) {
  .header__logo {
    padding: 0px 0px 0px 70px;
  }
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 50;
}
.preloader_image {
  width: 200px;
  height: 200px;
  background: url("../img/preloder.gif") no-repeat 50% 50%;
  background-size: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.preloader_image img {
  -webkit-animation: 0.5s linear 1s infinite alternate slidein;
          animation: 0.5s linear 1s infinite alternate slidein;
}

.loaded .preloader {
  display: none;
}

.title {
  padding: 210px 0px 0px 0px;
}
.title__content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.title__content h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 110%;
  padding-bottom: 10px;
}
.title__content span {
  color: #909090;
}
.title__content p {
  font-size: 21px;
  padding-left: 10px;
}

.about {
  padding: 100px 0px 100px 0px;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.about__content img {
  flex-basis: 38%;
  max-width: 38%;
  display: block;
  height: auto;
}
.about__content_block {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  text-align: left;
  align-items: center;
}
.about__content_block div {
  flex: 1;
}
.about__content_block div h3 {
  padding-bottom: 46px;
  font-size: 25px;
  line-height: 140%;
}
.about__content_block div p {
  padding: 0px 0px;
  font-size: 17px;
  line-height: 140%;
}
.about__content_btn {
  display: flex;
  justify-content: center;
}
.about__content_btn a {
  background-color: rgb(255, 51, 0);
  padding: 22px 50px;
  color: #fff;
  border: none;
}

@media (max-width: 920px) {
  .title {
    padding: 160px 0px 0px 0px;
    text-align: center;
  }
  .title__content {
    padding-left: 0px;
    gap: 15px;
  }
  .title__content h1 {
    font-size: 45px;
  }
  .title__content p {
    font-size: 17px;
  }
  .about {
    padding: 60px 0px 60px 0px;
  }
  .about__content {
    gap: 50px;
  }
  .about__content_btn a {
    background-color: rgb(255, 51, 0);
    padding: 15px 40px;
    color: #fff;
    border: none;
  }
  .about__content_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .about__content_block img {
    order: 1;
    flex-basis: 80%;
    max-width: 80%;
  }
  .about__content_block div {
    padding: 0px 15px 0px 15px;
    order: 2;
  }
  .about__content_block div h3 {
    padding-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .title {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .title {
    padding: 115px 0px 0px 0px;
  }
}
@media (max-width: 550px) {
  .about__content_block img {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.main {
  padding: 100px 0px 70px 0px;
  background-image: url(/img/photo_2021-03-02_21-.jpg);
  display: flex;
  flex-direction: row;
}
.main__title {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  gap: 10px;
}
.main__title h1 {
  max-width: 580px;
  font-size: 55px;
  letter-spacing: 0.025em;
  line-height: 1.1;
}
.main__title p {
  max-width: 384px;
  font-size: 20px;
  margin: 47px 0px 52px;
  line-height: 1.4em;
  text-align: right;
}
.main__title_btn {
  padding: 22px 50px;
  align-items: center;
  color: white;
  font-size: 19px;
  background: rgb(231, 1, 1);
  border: none;
}
.main__title_btn a {
  text-align: center;
  font-size: 17px;
  color: #fff;
}
.main__img img {
  max-width: 100%;
}

.footer {
  padding: 25px 0px;
  background-color: black;
}
.footer__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}
.footer__content {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}
.footer__content_logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}
.footer__content_logo a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__content_menu {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.footer__content_contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 47px;
}

@media (max-width: 840px) {
  .footer {
    padding: 0px 0px 30px 0px;
  }
  .footer__content_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 100px;
  }
}
@media (max-width: 570px) {
  .footer {
    padding: 0px 0px 30px 0px;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__content_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 0px;
  }
  .footer__content_logo {
    align-items: center;
  }
  .footer__content_contact {
    align-items: center;
    padding-top: 0px;
  }
}
.location {
  padding: 100px 0px 0px 0px;
}

.info {
  padding: 130px 0px 130px 0px;
}
.info__contact {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0px 20px;
}
.info__contact div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.message {
  padding: 0px 0px 100px 20px;
  text-align: left;
}
.message__form {
  display: flex;
  flex-direction: column;
  gap: 62px;
}
.message__form h3 {
  font-size: 25px;
  line-height: 35px;
}
.message__form form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: all 0.5s ease-in;
}
.message__form form input {
  height: 55px;
  border: none;
  border-bottom: 1px solid #000;
  width: 320px;
  font-size: 18px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.message__form form textarea {
  height: 130px;
  width: 443px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
}
.message__form form div button {
  background-color: rgb(255, 51, 0);
  padding: 25px 65px;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .info__contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .message__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .message__form form {
    align-items: center;
  }
  .message__form form textarea {
    width: 320px;
  }
}
@media (max-width: 580px) {
  .info__contact div {
    align-items: center;
  }
  .message {
    padding: 0px 0px 100px 0px;
  }
}
.catalog {
  padding: 130px 0px 130px 0px;
}
.catalog__menu {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}
.catalog__menu_item {
  padding: 19px 64px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.catalog__menu_item:hover {
  background-color: black;
  color: white;
  font-weight: 400;
}
.catalog__sort {
  max-width: 250px;
}
.catalog__sort .orderby {
  font-size: 20px;
  color: #808080;
  border: none;
  outline: none;
  cursor: pointer;
}
.catalog .nav {
  display: flex;
  flex-direction: column;
}
.catalog__product {
  padding: 100px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 40px;
}
.catalog__product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  padding-bottom: 10px;
}
.catalog__product_card div {
  width: 315px;
}
.catalog__product_card div img {
  max-width: 100%;
}

.active-catalog {
  background-color: black;
  color: white;
  font-weight: 400;
}

@media (max-width: 992px) {
  .catalog .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .catalog__menu {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .catalog__menu_item {
    padding: 14px 30px;
  }
  .catalog__product {
    display: flex;
    justify-content: center;
  }
  .catalog__product_card {
    width: 315px;
  }
  .catalog__product_card div {
    width: 315px;
  }
  .catalog__sort {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .catalog__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .catalog__menu_item {
    padding: 10px 0px 0px 0px;
    min-width: 300px;
    height: 50px;
    text-align: center;
  }
  .catalog__product {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
}
.product-card {
  padding: 100px 0px;
  display: flex;
  gap: 100px;
}
.product-card__img {
  width: 490px;
  height: 680px;
}
.product-card__img img {
  max-width: 100%;
}
.product-card__info {
  padding-top: 100px;
}
.product-card__info h4 {
  display: none;
}
.product-card__info h3 {
  font-size: 30px;
  color: #9c9c9c;
}
.product-card__info p {
  font-size: 20px;
  margin: 76px 0px 36px;
}
.product-card__info_size {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-card__info_size_item {
  padding: 10px 15px;
  border: 1px solid black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.product-card__info_color {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-card__info_color p {
  display: none;
}
.product-card__info_color_item {
  padding: 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.product-card__info_amount {
  display: flex;
  gap: 20px;
  padding: 59px 0px 0px 0px;
}
.product-card__info_amount .point {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #9c9c9c;
  width: 75px;
  height: 70px;
  position: relative;
}
.product-card__info_amount .point span {
  font-size: 25px;
  cursor: pointer;
  color: rgb(231, 1, 1);
}
.product-card__info_amount .point span:first-child {
  position: absolute;
  top: 0%;
  left: 42%;
}
.product-card__info_amount .point span:last-child {
  position: absolute;
  top: 64%;
  left: 41%;
}
.product-card__info_amount .point input {
  border: none;
  width: 10px;
}
.product-card__info_amount button {
  padding: 25px 70px;
  background-color: rgb(255, 51, 0);
  color: white;
  border: none;
  font-weight: 500;
}

.active-size {
  background-color: black;
  color: white;
  font-weight: 400;
}

.active-color {
  box-shadow: 0px 2px 5px black;
}

.olive {
  background: rgb(212, 207, 100);
  z-index: 5;
}

.blue {
  background: rgb(100, 158, 212);
  z-index: 5;
}

.red {
  background: rgb(212, 100, 102);
  z-index: 5;
}

.violet {
  background: rgb(197, 100, 212);
  z-index: 5;
}

@media (max-width: 992px) {
  .product-card {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .product-card__img {
    width: 350px;
    height: 470px;
  }
  .product-card__info {
    padding-top: 5px;
  }
  .product-card__info p {
    margin: 55px 0 36px;
  }
  .product-card__info_amount .point {
    height: 60px;
  }
  .product-card__info_amount .point span:first-child {
    position: absolute;
    top: -6%;
    left: 42%;
  }
  .product-card__info_amount .point span:last-child {
    position: absolute;
    top: 64%;
    left: 41%;
  }
  .product-card__info_amount .product-btn {
    padding: 22px 25px;
    font-size: 18px;
    border: none;
  }
}
@media (max-width: 767px) {
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.basket {
  padding: 134px 0px 75px;
}
.basket__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.basket__head h4 {
  margin-bottom: 28px;
}
.basket__head div {
  display: flex;
  justify-content: flex-start;
  gap: 175px;
}
.basket .basket-list {
  display: flex;
  flex-direction: column;
}
.basket__warp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
  border-top: 1px solid rgba(204, 204, 204, 0.8);
}
.basket__warp_block-1 {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 35px;
  margin-bottom: 30px;
}
.basket__warp_block-1_img {
  width: 135px;
  height: 185px;
}
.basket__warp_block-1_img img {
  max-width: 100%;
}
.basket__warp_block-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 165px;
}
.basket__warp_block-2 .point {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #9c9c9c;
  width: 75px;
  height: 70px;
  position: relative;
}
.basket__warp_block-2 .point span {
  font-size: 25px;
  cursor: pointer;
  color: rgb(231, 1, 1);
}
.basket__warp_block-2 .point span:first-child {
  position: absolute;
  top: 0%;
  left: 42%;
}
.basket__warp_block-2 .point span:last-child {
  position: absolute;
  top: 64%;
  left: 41%;
}
.basket__warp_block-2 .point input {
  border: none;
  width: 10px;
}

.decor {
  padding: 0px 0px 75px 0px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
.decor__total {
  display: flex;
  flex-direction: row;
  font-size: 21px;
  gap: 20px;
  padding: 20px 40px;
  color: white;
  background-color: rgb(18, 17, 17);
}
.decor a {
  cursor: pointer;
  padding: 20px 25px;
  background: rgb(255, 51, 0);
  color: white;
  font-size: 19px;
}

@media (max-width: 767px) {
  .basket__head {
    font-size: 17px;
    display: none;
  }
  .basket__warp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .basket__warp_block-1 p {
    font-size: 14px;
  }
  .basket__warp_block-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 38px;
  }
  .basket__warp_block-2 h3 {
    font-size: 15px;
  }
  .decor {
    display: flex;
    justify-content: center;
  }
  .decor__total {
    padding: 22px 25px;
    font-size: 19px;
  }
  .decor a {
    padding: 22px 25px;
    font-size: 17px;
  }
}
@media (max-width: 567px) {
  .decor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .decor__total {
    padding: 20px 35px;
    font-size: 19px;
  }
  .decor a {
    padding: 20px 20px;
    font-size: 17px;
  }
}
.information-bayer {
  display: flex;
  justify-content: space-between;
  padding: 130px 0px;
}
.information-bayer h3 {
  margin: 82px 0px 15px;
  font-size: 25px;
  line-height: 1.15;
}

.bayer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.bayer input {
  height: 40px;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 35px;
  width: 320px;
  font-size: 18px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.bayer__data {
  display: flex;
  flex-direction: column;
}
.bayer__data_form {
  display: flex;
  flex-direction: column;
}
.bayer__address {
  display: flex;
  flex-direction: column;
}
.bayer__address_form {
  display: flex;
  flex-direction: column;
}

.order {
  display: flex;
  flex-direction: column;
}
.order__bayer_info {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.order__bayer_info_item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.order__bayer_info_item h4 {
  margin-top: 33px;
  font-size: 21px;
}
.order__bayer_info_sheet-item {
  display: flex;
  gap: 75px;
}
.order__bayer_info_total {
  display: flex;
  font-size: 20px;
  gap: 150px;
  padding: 15px 24px;
  color: white;
  background: black;
}
.order__bayer_info button {
  padding: 22px 50px;
  align-items: center;
  color: white;
  font-size: 19px;
  background: rgb(231, 1, 1);
  border: none;
}

@media (max-width: 767px) {
  .information-bayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */